@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* ------------- ANIMATIONS ------------- */
@keyframes pageCoverAnimation {
    50% {
        transform: rotate(-0.4deg);
    }
    90% {
        transform: rotate(1deg);
    }
}

@keyframes labelCoverAnimation {
    0% {
        color: rgba(255, 222, 0, 1);
    }
}

/* ------------- ANIMATIONS ------------- */

*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: rgba(255, 222, 0, 1);
    padding-bottom: 20px;
}

.page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 95vw;
    height: 600px;
    background-color: rgba(241, 103, 103, 1);
    margin-top: 20px;
    overflow: hidden;
}

.page__header{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
    font-weight: 600;
    font-size: 1.35em;
    font-family: 'Roboto Condensed', sans-serif;
}

.page__cover{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    animation: pageCoverAnimation 4s infinite;
}

.page__cover img{
    height: 550px;
}

.cover-label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 400px;
    left: 0px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    padding: 1em;
    background-color: rgba(222, 58, 59, 1);
}

.cover-label span{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
}

.cover-label .cover-label__title{
    font-size: 3em;
    font-style: italic;
    letter-spacing: 0.1em;
    animation: labelCoverAnimation 1s infinite;
    color: #fff;
}

.cover-label .cover-label__subtitle{
    font-size: 1.5em;
    color: #fff;
}