@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600;9..40,800&display=swap');

.page__header{
    z-index: 2;
}

.page__background-title{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.page__background-title .page__background-title__text-1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.page__background-title .page__background-title__text-2{
    display: flex;
    justify-content: center;
    align-items: end;
}

.page__background-title span{
    display: flex;
    justify-content: center;
    line-height: 0.4;
    color: rgba(255, 222, 0, 1);
    font-family: 'DM Sans', sans-serif;
    font-size: 19em;
}

.page__content{
    z-index: 2;
}

.page__content .page__content__projects{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.page .projects-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page .projects-container .projects-container__content{
    display: flex;
    justify-content: space-around;
    width: 1000px;
}

.page .projects-container .projects-container__content .project-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 300px;
    width: 300px;
    box-shadow: 2px 2px 30px 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    overflow: hidden;
}

.page .projects-container .projects-container__content .project-card img{
    width: 100%;
    height: auto;
    display: block;
}

.page .projects-container .projects-container__content .project-card span{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.78em;
    width: max-content;
}